.container {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: transform 0.3s;

  &[data-visible="true"] {
    .h2 {
      transform: translateX(0%);
      opacity: 1;
    }

    .sliderContainer {
      transform: translateX(0%);

      opacity: 1;
    }
  }
  .h2 {
    transition: inherit;
    transform: translateX(-100%);
    opacity: 0;

    color: #73509f;
    display: flex;
    align-items: center;
    gap: 1ch;
  }

  .sliderContainer {
    display: flex;
    transform: translateX(100%);
    opacity: 0;
    align-items: flex-end;
    border-radius: 50px;
    box-shadow: 0px 0px 67px 6px rgba(137, 69, 236, 0.17);
    border: 1rem solid white;
    max-height: 260px;
    min-height: 260px;
    background: linear-gradient(
      319deg,
      #8945ec 0%,
      rgba(137, 69, 236, 0.5) 100%
    );
    color: white;
    padding: 0rem 2rem;
    transition: all 0.5s;

    @media screen and (max-width: 783px) {
      padding: 0rem 1.6rem;
    }
    @media screen and (max-width: 650px) {
      flex-direction: column;
      align-items: center;
      min-height: unset;
      max-height: unset;
      padding: 1rem 1rem;
      gap: 0.5rem;
    }
    .sliderItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      justify-content: space-evenly;
      height: 220px;
      padding: 2rem;
      transition: all 0.5s;
      overflow: hidden;

      @media screen and (max-width: 783px) {
        padding: 1rem;
      }

      cursor: pointer;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(89deg, #ffd66b 0%, #ffbe41 100%);
        transition: opacity 0.5s;
        opacity: 0;
      }

      & > p {
        font-size: 0.8rem;
      }
      text-align: center;

      .learnMore {
        display: flex;
        align-items: center;
        gap: 1ch;
        color: #5e2479;
        font-weight: 600;
        font-size: 0.9rem;
        align-self: flex-start;
        height: 0px;
        overflow: hidden;
        transform: translateX(-100%);
        transition: transform 0.3s;
      }

      &:hover {
        &::before {
          opacity: 1;
        }
        height: 300px;
        color: #5e2479;
        border-radius: 30px 30px 0px 0px;
        @media screen and (max-width: 650px) {
          border-radius: 30px;
        }
        .learnMore {
          height: 1.5ch;
          transform: translateX(0%);
        }
      }
    }
  }
}
