@import "@/styles/animations.module.scss";

.container {
  display: flex;
  padding: 2.5rem;

  .start {
    min-height: 500px;
    flex: 1;
    @extend .slideFromLeft;
  }

  .end {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #73509f;
    flex: 1;
    @extend .slideFromRight;

    .h2 {
      display: flex;
      align-items: center;
      gap: 1ch;
    }
    .p {
      max-width: 300px;
    }
    .cardsContainer {
      display: grid;
      gap: 1.6rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      @media screen and (max-width: 400px) {
        display: flex;
        flex-direction: column;
      }
    }
  }
  @media screen and (max-width: 780px) {
    flex-direction: column;
    padding: 1rem;
  }
}
