.container {
  display: flex;
  padding: 2.5rem;
  overflow: hidden;

  transition: transform 0.3s;

  &[data-visible="true"] {
    .start {
      transform: translateX(0%);
      opacity: 1;
    }

    .end {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  .start {
    transition: inherit;
    opacity: 0;
    min-height: 500px;
    flex: 1;
    transform: translateX(-100%);
  }

  .end {
    opacity: 0;
    transform: translateX(100%);
    transition: inherit;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #73509f;
    flex: 1;

    .h2 {
      display: flex;
      align-items: center;
      gap: 1ch;
    }
    .p {
      max-width: 300px;
    }
    .cardsContainer {
      display: grid;
      gap: 1.6rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
  @media screen and (max-width: 780px) {
    flex-direction: column;
    padding: 1rem;
  }
}
